/* Floxbox page
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 1px solid #fff;  
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .links {
    display: flex;
    justify-content: flex-end;
  }
  .login {
    margin-left: 20px;
  }
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }
  .first-item {
    order: 1;
  }
  .last-item {
    order: -1;
  }
  .social, .subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer-item {
    border: 1px solid white;
    background-color: skyblue;
    height: 50px;
    flex: 1;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 15px;
  }
  .footer-one, .footer-three {
    background-color: rebeccapurple;
    flex: initial;
    width: 300px;
  }
  .signup {
    margin-left: auto;
  } */
/*  Flexbox box sizing
  .big {
    background-color: maroon;
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 500px;
  }

  .one, .three {
    background-color: pink;
    width: 400px;
    border: 5px solid brown;
    flex-shrink: 1;
  }
  .two {
    background-color: pink;
    width: 500px;
    border: 4px solid rebeccapurple;
    flex-shrink: 1;
  }  */

 /* Aligning with auto margins 
  nav > ul {
    display: flex;
    padding: 7px;
    margin: 0;
    gap: 20px;
    background-color: aqua;
    border-radius: 8px;
  }

  #login {
    margin-left: auto;
  }
  */ 

/* Flexbox shorthand values
  .big {
    border: 5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    display: flex;
  }

  .first {
    border: 3px solid blueviolet;
    width: 100px;
    background-color: rebeccapurple;
    text-align: center;
    padding: 5px;
    flex: 1 1 100px;
  }

  .second, .third {
    border: 3px solid blue;
    width: 100px;
    background-color: skyblue;
    text-align: center;
    padding: 5px;
    margin-left: 20px;
  } */
/* Making flexbox simple
  h1 {
    color: rgb(153, 24, 24);
    font-style: oblique;
    text-shadow: 2px 2px 8px;
  }
  div > article {
    background-color: rgb(22, 148, 22);
    flex: 1; 
  }
  .items-container {
    display: flex;
    gap: 20px;
    margin: 10px; 
    border: 3px solid rebeccapurple;
    flex-direction: column;
    align-items: center;
  }
 
  @media (max-width: 750px) {
    .items-container {
      flex-direction: row;
    }
  } 
  .second-article {
    background-color: pink;
    align-self: flex-start;
  } */
/* Axes
  .flex-container {
    background-color: brown;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    width: max-content;
    margin: auto;
  }

  @media (max-width: 300px) {
    .flex-container {
      flex-direction: column;
    }        
  }

  .flex-container > * {
    background-color: pink;
    height: 200px;
    width: 200px;
    border: 4px solid brown;
    flex-grow: 1;
    flex-wrap: wrap;
  } */
/* Alignment in css
  .container {
    border: 5px solid indigo;
    background-color: plum;
    height: 140px;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .container div {
    border: 4px solid darkslategray;
    background-color: skyblue;
    height: 60px;
    width: 60px;
    text-align: center;
  } */
/* Flexbox in form
  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid gray;
    justify-content: center;
  }

  .name {
    flex-grow: 1;
    flex-basis: 160px;
  }

  .email {
    flex-grow: 3;
    flex-basis: 200px;
  }

  button {
    flex-grow: 0;
    flex-basis: 80px;
  }
   */
/* Intro to flexbox with josh comeau
   .container {
    border: 2px solid silver;
    padding: 5px;
    display: flex;
    height: 300px;
   }
   .container div {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    background-color: rgb(172, 172, 172)
   } */

   .container {
    border: 1px solid white;
    background-color: black;
    width: 600px;
    display: flex;
    padding: 5px;
    gap: 5px;
    flex-direction: column;
    border-radius: 5px;
   }
   .container > div {
    border: 3px solid silver;
    height: 50px;
    background-color: gray;
    border-radius: 5px;
   }
   div > .one {
    background-color: rgb(255, 255, 0);
    flex-basis: 50px;
   }

   